/*  your css code here. If applicable */

*{
padding:0;
margin:0;
box-sizing:border-box;
}
#grid{
display:grid;
	grid-template-columns: repeat(4, 242.5px);
  grid-template-rows: repeat(5, 124px);
	gap:10px;
	
grid-template-areas:"a a a a "
	"b c d d"
	"b e e f"
	"b g h i"
	"b j j j";
	
}
div{

div {
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold;
	
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
    
}
#grid > div:nth-child(1) {
  grid-column: span 4;
}

#grid > div:nth-child(2) {
  grid-row: span 4;
}

#grid > div:nth-child(4) {
  grid-column: span 2;
}

#grid > div:nth-child(5) {
  grid-column: span 2;
}

#grid > div:nth-child(10) {
  grid-column: span 3;
}